.title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  min-width: 150px;
  padding: 16px;
  margin: 8px;
}

.navContainer {
  justify-self: flex-start;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #010711;
  height: 12vh;
  flex: 1;
  user-select: none;
}
.navbar {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
.navbar li {
  display: flex;
  padding: 0 16px;
  height: 100%;
  width: 100%;
  min-width: 80px;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: 300ms;
  text-overflow: clip;
}

.navbar li:hover {
  background-color: #01163ab6;
  cursor: pointer;
  transition: 300ms;
}

.active {
  font-weight: bold;
  border-bottom: solid 2px #fff;
  transition: 300ms;
}

.mobileNavToggle {
  display: none;
}
.mobileClose {
  display: none;
}
/* 
media query para la navbar
*/

@media (max-width: 40em) {
  .navbar {
    position: fixed;
    inset: 0 0 0 30%;
    background: #07112057;
    backdrop-filter: blur(1rem);
    justify-content: start;
    padding: min(30vh, 8rem) 1rem;
    transform: translateX(100%);
    transition: 300ms ease-in-out;
  }

  .navbarShow {
    transform: translateX(0%);
    transition: 300ms ease-in-out;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
  }

  .navbar li {
    width: 100%;
    height: 52px;
  }

  .mobileNavToggle {
    display: block;
    position: absolute;
    background: url('../../assets/icons8-hamburger-menu.svg');
    background-repeat: no-repeat;
    background-position: 0%;
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 99;
    transition: 300ms ease-in-out;
  }

  .mobileClose {
    display: block;
    position: absolute;
    background: url('../../assets/icons8-close.svg');
    background-repeat: no-repeat;
    background-position: 0%;
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 99;
    transition: 300ms ease-in-out;
  }
  .active {
    font-weight: bold;
    border-bottom: solid 0.5px #fff;
  }
}
